---
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";

const pageTitle = "SNCreate";
---

<BaseLayout pageTitle={pageTitle}>
  <h3>Abou me...</h3>
  <div>
    Unityエンジニアです。<br />
    主にハイパーカジュアルゲーム開発に携わってます。 <br />
    個人開発では主にUnity, Python, Flutter, JavaScriptで作ってます。<br />

    <Social platform="github" username="d4ken" />
  </div>
</BaseLayout>
