---
import {Image} from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Social from "../components/Social.astro";
import profile_icon from "../images/d4ken_icon.png";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="profile-card">
        <div class="container">
            <Image src={profile_icon} alt=""/>
            <h1>D4ken</h1>
            <p>
                Unityエンジニアです。
                主にハイパーカジュアルゲーム開発に携わってます。<br/>
                個人開発では主にUnity, Python, Flutter, JavaScriptで作ってます。
            </p>
            <div style="width: 100%; margin-top: 16px; height: 32px; justify-content: center; display: flex; align-items: center;">
                <Social style="width:50px; height: 40px;" platform="github" username="d4ken"/>
            </div>
        </div>
    </div>
</BaseLayout>
<style>
    img {
        max-width: 100%;
        object-fit: cover;
        height: auto;
        border-radius: 20px;
    }

    .profile-card {
        width: 320px;
        border: 2px solid rgba(235, 235, 235, .35);
        border-radius: 20px;
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: 12px;
        color: white;
        background: rgba(187, 205, 189, .25);
        transition: all .25s ease;
        display: block;
        margin: auto;
    }

    .container {
        padding: 1em;
    }

    .profile-card:hover {
        background: rgba(153, 207, 255, .55)
    }

</style>