---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "SNCreate";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="content">
        <Greeting
                client:load
                messages={[
                    "こんにちは、ピヨッ！",
                    "おはこっこー",
                    "こんこっこー",
                    "ばんこっこー",
                    "おはぽっぽ",
                ]}
        />
    </div>
</BaseLayout>
<style>
    .content {
        text-align: center;
    }
</style>
