---
import {Icon} from "astro-iconify";---

<footer>
  <div>
    <a href="/privacy/">Privacy Policy</a>
    <p>© 2024 SNCreate All Rights Reserved.</p>
  </div>

</footer>
<style>
  footer {
    margin-top: auto;
  }

  div {
    text-align: center;
  }
</style>