---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} className="blog-content">
  <div class="date">
    <span>投稿日: {frontmatter.pubDate.slice(0, 10)}</span>
  </div>
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
      ))
    }
  </div>
  <br />
  <slot />
</BaseLayout>

<script type='text/javascript'>
  (function() {
    const btn = document.createElement('button');
    btn.id = 'selectPre';
    btn.textContent = 'COPY';
    btn.addEventListener('click', () => {
      const sel = window.getSelection();
      const pre = btn.parentNode;
      sel.selectAllChildren(pre);
      sel.extend(pre, pre.childNodes.length-1);
      if (navigator.clipboard) {
        navigator.clipboard.writeText(sel);
      } else {
        document.execCommand('copy');
      }
    });
    const pres = document.querySelectorAll('pre');
    pres.forEach((pre) => {
      pre.addEventListener('mouseover', () => {
        pre.appendChild(btn);
      });
      pre.addEventListener('mouseleave', () => {
        btn.remove();
      });
    });
  }());

</script>
<style>
  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.4em 0.5em;
    font-size: 0.8em;
    background-color: #f8fcfd;
  }

</style>
